In [25]:
# importing the modules
import pandas as pd

In [26]:
# loading the data
df = pd.read_csv(r"C:\Users\denni\OneDrive\Desktop\african-economics-dashboard\data_africa.csv")

In [27]:
# printing the dataframe
df.head(10)

   ID  Year Country    Continent  Population      GDP (USD)
0   1  2000  Uganda  East Africa     23303189  6.193247e+09
1   2  2001  Uganda  East Africa     24022603  5.840504e+09
2   3  2002  Uganda  East Africa     24781316  5.840504e+09
3   4  2003  Uganda  East Africa     25577246  6.606884e+09
4   5  2004  Uganda  East Africa     26403221  7.939488e+09
5   6  2005  Uganda  East Africa     27256493  9.239222e+09
6   7  2006  Uganda  East Africa     28131677  9.977648e+09
7   8  2007  Uganda  East Africa     29032665  1.190256e+10
8   9  2008  Uganda  East Africa     29961618  1.444040e+10
9  10  2009  Uganda  East Africa     30925440  2.512781e+10

In [28]:
# creating a dataframe with all the null values
null_values = df[df.isnull().any(axis=1)]

# identifying the countries with at least one null value in one of their records
country_lst = []
for i, r in null_values.iterrows():
    country = r['Country']
    if country not in country_lst:
        country_lst.append(country)
country_lst

['Mayotte',
 'Reunion',
 'Somalia',
 'Eritrea',
 'South Sudan',
 'SADR',
 'Sao Tome and Principe',
 'Saint Helena, Ascension and Tristan da Cunha']

In [29]:
# source world bank
sao_tome_and_principe_years = [2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 
                 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022]
sao_tome_and_principe_GDP = [75951133.38, 85171073.88, 102085769.12, 114582283.9, 136450662.4,
                             142775104.1, 149146918.9, 188021165, 200668065, 190021192.5, 226455001.2,
                             229371348.2, 267041747.6, 293119143.2, 259999643, 292267272.2, 322002845.2,
                             383717327.8, 412976064.5, 471229484.6, 524402450.8, 542686976.5]

# creating a dictionairy with the years as keys and the GDP as the value
sao_tome_and_principe_dict = dict(zip(sao_tome_and_principe_years, sao_tome_and_principe_GDP))

In [30]:
# inserting the values for each year
df.loc[df['Country'] == 'Sao Tome and Principe', 'GDP (USD)'] = df['Year'].map(sao_tome_and_principe_dict)

In [31]:
# printing the dataframe with all records from Soa Tome and Principe to check the above is executed succesfully
df.loc[df['Country'] =='Sao Tome and Principe']

,ID,Year,Country,Continent,Population,GDP (USD)
851,852,2000,Sao Tome and Principe,Central Africa,141120,NaN
852,853,2001,Sao Tome and Principe,Central Africa,143522,7.595113e+07
853,854,2002,Sao Tome and Principe,Central Africa,146116,8.517107e+07
854,855,2003,Sao Tome and Principe,Central Africa,148940,1.020858e+08
855,856,2004,Sao Tome and Principe,Central Africa,152080,1.145823e+08
856,857,2005,Sao Tome and Principe,Central Africa,155619,1.364507e+08
857,858,2006,Sao Tome and Principe,Central Africa,159591,1.427751e+08
858,859,2007,Sao Tome and Principe,Central Africa,164005,1.491469e+08
859,860,2008,Sao Tome and Principe,Central Africa,168723,1.880212e+08
860,861,2009,Sao Tome and Principe,Central Africa,173519,2.006681e+08
861,862,2010,Sao Tome and Principe,Central Africa,178143,1.900212e+08
862,863,2011,Sao Tome and Principe,Central Africa,182464,2.264550e+08
863,864,2012,Sao Tome and Principe,Central Africa,186468,2.293713e+08
864,865,2013,Sao Tome and Principe,Central Africa,190250,2.670417e+08
865,866,2014,Sao Tome and Principe,Central Africa,193917,2.931191e+08
866,867,2015,Sao Tome and Principe,Central Africa,197598,2.599996e+08
867,868,2016,Sao Tome and Principe,Central Africa,201340,2.922673e+08
868,869,2017,Sao Tome and Principe,Central Africa,205169,3.220028e+08
869,870,2018,Sao Tome and Principe,Central Africa,209075,3.837173e+08
870,871,2019,Sao Tome and Principe,Central Africa,213057,4.129761e+08
871,872,2020,Sao Tome and Principe,Central Africa,217116,4.712295e+08
872,873,2021,Sao Tome and Principe,Central Africa,221795,5.244025e+08
873,874,2022,Sao Tome and Principe,Central Africa,226575,5.426870e+08

In [32]:
# creating a list with all the country in the dataframe
countries_lst = []
for i, r in df.iterrows():
    if r['Country'] not in countries_lst:
        countries_lst.append(r['Country'])

In [33]:
# creating a dictionairy with the country and country codes
country_codes = {
    'Uganda': 'UGA', 'Burundi': 'BDI', 'Djibouti': 'DJI', 'Zambia': 'ZMB', 'Zimbabwe': 'ZWE', 'Kenya': 'KEN', 
    'Comoros': 'COM', 'Mauritius': 'MUS', 'Madagascar': 'MDG', 'Mayotte': 'MYT', 'Malawi': 'MWI', 'Mozambique': 'MOZ', 
    'Reunion': 'REU', 'Rwanda': 'RWA', 'Seychelles': 'SYC', 'Somalia': 'SOM', 'Tanzania': 'TZA', 'Eritrea': 'ERI', 
    'Ethiopia': 'ETH', 'South Sudan': 'SSD', 'Sudan': 'SDN', 'Algeria': 'DZA', 'Egypt': 'EGY', 'SADR': 'ESH', 
    'Libya': 'LBY', 'Morocco': 'MAR', 'Tunisia': 'TUN', 'Botswana': 'BWA', 'Lesotho': 'LSO', 'Namibia': 'NAM', 
    'Eswatini': 'SWZ', 'South Africa': 'ZAF', 'Angola': 'AGO', 'Gabon': 'GAB', 'Cameroon': 'CMR', 
    'Democratic Republic of the Congo': 'COD', 'Republic of the Congo': 'COG', 'Sao Tome and Principe': 'STP', 
    'Central African Republic': 'CAF', 'Chad': 'TCD', 'Equatorial Guinea': 'GNQ', 'Benin': 'BEN', 'Burkina Faso': 'BFA', 
    'Gambia': 'GMB', 'Ghana': 'GHA', 'Guinea': 'GIN', 'Guinea-Bissau': 'GNB', 'Cape Verde': 'CPV', 'Ivory Coast': 'CIV', 
    'Liberia': 'LBR', 'Mauritania': 'MRT', 'Mali': 'MLI', 'Niger': 'NER', 'Nigeria': 'NGA', 
    'Saint Helena, Ascension and Tristan da Cunha': 'SHN', 'Senegal': 'SEN', 'Sierra Leone': 'SLE', 'Togo': 'TGO'
}

# going through the dataframe and applying the codes from the above dictionairy
for index, row in df.iterrows():
    country_name = row['Country']
    country_code = country_codes.get(country_name, 'Not available')
    df.at[index, 'Code'] = country_code

In [34]:
# checking to confirm that all countries have a code
df[df['Code'].isnull()]

Empty DataFrame
Columns: [ID, Year, Country, Continent, Population , GDP (USD), Code]
Index: []

In [35]:
# creating a new column for GDP per capita
df['GDP per Capita'] = df['GDP (USD)']/df['Population ']

In [36]:
# renaming the column name Population to remove the space
df.rename(columns={'Population ': 'Population'}, inplace=True)

In [37]:
# exporting the new df to a seperate csv file
df.to_csv('africa_economics_v2.csv', index=False)